.ReAvatar{
    margin-left: 77%;
    margin-top: -190%;
    display: flex;
  }
  
  .ReAvatar >b{
    color: blue;
    margin-top: 7%;
    margin-left: 6%;
    font-size: small;  
  }
  
  .Suggests{
    margin-left: 77%;
    margin-top: -1%;
    white-space: nowrap;     
  }

  .Suggests > b{
    display: flex;
    margin-left: 70%;
  }

  .Suggests >p{
      margin-left: 25%;
      margin-top: -2%;
      display: flex;
      color: rgb(59, 79, 109);
}

