.NewsFeed{
    width: 590px;
  border: 1px solid rgb(229, 231, 229);
  padding: 16px;
  margin-left: 23%;
  height: 15%;
  padding-bottom: 20%;
  margin-top: 1%;

}

.ReAvatar{
  margin-left: 77%;
  margin-top: -77%;
  display: flex;
}

.ReAvatar >b{
  color: blue;
  margin-top: 6%;
  margin-left: 6%;
  font-size: small;  
}

.Suggests{
  margin-left: 77%;
  margin-top: -3%;
}

.Suggests > p{
  color: black;
  
}