.NewsFeed{
    width: 600px;
  border: 1px solid rgb(229, 231, 229);
  padding: 5px;
  margin-left: 24%;
  height: 10%;
  padding-bottom: 20%;

}

.ReAvatar{
  margin-left: 77%;
  margin-top: -77%;
  display: flex;
}

.ReAvatar >b{
  color: blue;
  margin-top: 6%;
  margin-left: 6%;
  font-size: small;  
}

.Suggests{
  margin-left: 77%;
  margin-top: -3%;
}

.Suggests > p{
  color: gray;
  margin-top: 6%;
}